@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --primary: #FF972B;
    --primary-hover: #B56B1F;
    --primary-pressed: #6B3F12;
    --secondary: #FFF5EA;
    --tertiary: #8C5318;
    --error: #E40000;
    --success: #43CE5E;
    --warning: #FFDC14;
  }

  html.theme-health {
    --background: #FFFFFF;
    --primary: #FF972B;
    --primary-hover: #B56B1F;
    --primary-pressed: #6B3F12;
    --secondary: #FFF5EA;
    --tertiary: #8C5318;
    --error: #E40000;
    --success: #43CE5E;
    --warning: #FFDC14;
  }

  html.theme-vision {
    --background: #FFFFFF;
    --primary: #00CFFF;
    --primary-hover: #00728C;
    --primary-pressed: #212529;
    --secondary: #E6FAFF;
    --tertiary: #00576B;
    --error: #E40000;
    --success: #43CE5E;
    --warning: #FFDC14;
  }

  html.theme-log {
    --background: #FFFFFF;
    --primary: #4CCEB7;
    --primary-hover: #369282;
    --primary-pressed: #20574D;
    --secondary: #EDFAF8;
    --tertiary: #20574D;
    --error: #E40000;
    --success: #43CE5E;
    --warning: #FFDC14;
  }
}

body {
  font-family: 'Mulish', sans-serif;
} 

/* Estilos para el scrollbar global */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  padding: 6px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 40px;
  border: 6px solid transparent;
  background-clip: content-box;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hover);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary-pressed);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

*:hover {
  scrollbar-color: var(--primary-hover) transparent;
}

*:active {
  scrollbar-color: var(--primary-pressed) transparent;
} 