@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary: 24 95% 53%;
    --primary-hover: 18 85% 43%;
    --primary-pressed: 15 75% 33%;
    --secondary: 32 100% 92%;
    --tertiary: 17 80% 38%;

    /* Estado */
    --error: 0 84% 60%;      /* red-500 */
    --success: 142 76% 36%;  /* green-500 */
    --warning: 45 93% 47%;   /* yellow-500 */
  }
} 